*{
    padding: 0;
    margin: 0;
}

main{
    padding-top: 2em;
    background-color: #1a0321;
}

html, footer, main, body{
    background-color: #1a0321 !important;
}

h1{
    text-align: center;
    font-family: 'Wallpoet', sans-serif;
    letter-spacing: 0.15em;
    font-size: xx-large;
}

.neonText {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
  }

  /* Flickering animation  EFECTO NEON #d900ff,*/
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #a945c7,
        0 0 80px #a945c7,
        0 0 90px #a945c7,
        0 0 100px #a945c7,
        0 0 150px #a945c7;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

.letraBlanca{
    color: white;
}

/* Color del Place Holder en los input*/
::placeholder {
    color: white;
  }

.slogan {
    color: white;
}

.slogan, .copy{
    text-align: center;
}

.font{
    font-family: 'Wallpoet', cursive;
}

.copy{
    margin-top: 3em;
    color: white;
}

.datos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nombre{
    display: block;
    margin-bottom: 0.5em;
    border-radius: 10px;
    /*background: linear-gradient(135deg, #a945c7 20%, #ecf6f7 100%);*/
    background: linear-gradient(#1a0321, #a945c7, #1a0321, #a945c7) center fixed;
	animation: gradient 60s ease infinite;
    background-size: 200% 1500%;
    border: none;
    color: white;
    border: none;
    color: white;
}

.texto{
    display: block;
    margin-bottom: 0.5em;
    border-radius: 10px;
    /*background: linear-gradient(135deg, #a945c7 20%, #ecf6f7 100%);*/
    background: linear-gradient(#1a0321, #a945c7, #1a0321, #a945c7) center fixed;
	animation: gradient 60s ease infinite;
    background-size: 200% 1500%;
    border: none;
    color: white;
}

@keyframes gradient {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}

.boton{
    display: block;
    margin-bottom: 0.5em;
    border-radius: 10px;
}

.btn-neon{
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 10px;
    margin-top: 1em;
    margin-bottom: 0.1em;
}

.btn-neon:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
    color: white;
}

.btn-neon span{
    position: absolute;
    display: block;
}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#a945c7);
}

.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}

#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#a945c7);
}

.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,#a945c7);
}

.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,#a945c7);
}

.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

#mensaje-nombre{
    color: red;
}

#mensaje-texto{
    color: red;
}

.error{
    border:2px solid red;
    background: linear-gradient(135deg, #ff8595 0%, #ffb5a3 100%);
}

.pared{
    margin-top: 1em;
    background-color: #1a0321;
    ;
    width: 100%;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ladrillo{
    background: linear-gradient(135deg,orangered,orange)!important;
    margin: .55em .25em;
    display: block;
    flex-wrap: wrap;
    width: 6.25em;
    height: 2em;
    justify-content: center;
    /*box-shadow: 1px 1px 1px 1px #5f5f5f;*/
    cursor: pointer;
    align-items: center;
    color: white;
    border-radius: 4px;
}

.ladrillo:hover{
    color: black;
    transform: scale(1.5);
    transition: 1s;
    background-color: #cc727e ;
    cursor: pointer;
    box-shadow: 0px 0px 100px 2px yellow;
}

.contenido-nombre{
    box-sizing: content-box;
    display: block;
    margin: 0em .5em;
    text-align: center;
}

.contenido-texto{
    box-sizing: content-box;
    display: inline;
    margin: 0em .5em;
}

.stickerLike{
    background-color: blue;
    border-radius: 25%;
    font-size: .8em;
    width: 2.5em;
    display:inline-flex;
    justify-content: center;
    float: right;
    color: white;
    padding: 0.08em;
}

.stickerLike:hover{
    background-color: rgb(0, 174, 255);
}

.stickerDislike{
    background-color: red;
    border-radius: 25%;
    font-size: .8em;
    width: 2.5em;
    display:inline-flex;
    justify-content: center;
    float: left;
    color: white;
    padding: 0.08em;
}

.stickerDislike:hover{
    background-color: rgb(253, 75, 75);
}

.likeYDislikeBlanco{
    width: 14px;
    margin-right: 2px;
}